<div class="row">
  <div class="col s6 no-padding">
    <div class="col s12 no-padding">
      <%= render "timeNow" %> <!--Relogio-->
    </div>

    <div class="col s12 no-padding">
    </div>
  </div>


  <div class="col s6 no-padding">
    <div class="col s12 no-padding">
    </div>

    <div class="col s12 no-padding">
    </div>
  </div>
</div>
