<div class="row no-margin">
  <div class="col s6 no-padding">
    <%= render "timeNow" %> <!--Relogio-->
  </div>

  <div class="col s6 no-padding">
    <%= render "dashboard/my/my_attendances" %><!--Objective List-->
  </div>
</div>

<div class="row no-margin ">
  <div class="col s6" style="padding: 0px 7px 0px 7px;">
    <%= render "dashboard/my/my_skills" %> <!--My Skills-->
  </div>

  <div class="col s6" style="padding: 0px 7px 0px 7px;">
    <%= render "dashboard/my/my_objectives_list" %><!--Objective List-->
  </div>
</div>
