<div class="row no-margin">
  <div class="col s6 no-padding">
    <%= render "timeNow" %> <!--Relogio-->
  </div>

  <div class="col s6 no-padding">
    <%= render "dashboard/my_team/my_objectives" %><!--Objective List-->
  </div>
</div>

<div class="row no-margin ">
  <div class="col s6 " style="padding: 0px 7px 0px 7px;">
    <%= render "dashboard/my_team/my_team_attendances" %> <!-- Assiduidade do Departamento -->
  </div>

  <div class="col s6" style="padding: 0px 7px 0px 7px;">
    <%= render "dashboard/my_team/my_team_competence" %> <!--Lista de Supervisionados-->
  </div>
</div>
