<div class="row">
  <div class="col s6 no-padding">
    <div class="col s12 no-padding">
      <%= render "timeNow" %> <!--Relogio-->
    </div>

    <div class="col s12 no-padding">
      <%= render "dashboard/my_team/my_team_competence" %><!--Team Competence-->
    </div>
  </div>


  <div class="col s6 no-padding">
    <div class="col s12 no-padding">
      <%= render "dashboard/my_team/my_team_list" %> <!--Lista de Supervisionados-->
    </div>

    <div class="col s12 no-padding">
      <%= render "dashboard/rh/departament_attendances" %> <!-- Assiduidade do Departamento -->
    </div>
  </div>
</div>
