<h1><%= t(:password_reset)%></h1>
<p>
  <%= t(:your_username_is, username: @user.email || @user.employee_number) %>
  <br>
  <%= t(:your_password_is, password: @new_password)%><br>
</p>
<p>
  <!--TODO see where to get link-->
</p>