// blue color for the edit
a.mdl-button.btn.modal-trigger.btn-adicinar-objectivo.btn-color.edit_button {
  background-color: #2196f3;
}

// align AA, AC and AF
th.mdl-data-table__cell--non-numeric.cell-align {
  text-align: center;
}

// align the colors
td.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric.color {
  text-align: center;
}