// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-content {
  margin-left: 15px;
  margin-right: 6px;
}

// Formats the full name right below the avatar on the dashboard
.avatar-full-name {
  margin-bottom: 0px;
  color: grey;
}

// Formats the email right below the avatar on the dashboard
.avatar-email {
  margin-top: -8px;
  color: grey;
}

.general-cards-1 {
  height: 205px;
  min-height: 205px;
  max-height: 205px;
}

.general-cards-2 {
  height: calc(100% - -20px);
  min-height: calc(100% - -20px);
  max-height: calc(100% - -20px);
}

// ==================  Configuração do Time ===================
.hello-user {
  font-size: 30px;
}

div.col.s6.no-padding.right-align.time-now {
  margin-top: -40px;
  position: absolute;
  right: 25px;
}

.print-time-now {
  display: block;
  position: relative;
  margin-top: 17px;
}

.mdl-card__supporting-text.my-goals {
  height: 340px;
  min-height: 340px;
  max-height: 340px;
  width: 100%
}

.mdl-card.mdl-shadow--2dp.next-card.my-goals {
  height: 340px;
  min-height: 340px;
  max-height: 340px;
}

.mdl-card__supporting-text.my-goals-skills {
  height: 340px;
  min-height: 340px;
  max-height: 340px;
  width: 100%

}

.mdl-button.btn-see-more {
  background-color: transparent;
  position: static;
  //left: -75px;
  //width: 100px;
}

.mdl-button.btn-see-more:hover {
  background-color: transparent;
}

.mdl-button.btn-see-more:focus {
  background-color: transparent;
}

//
// .mdl-card__supporting-text.my-goals-skills-manager{
//   height: calc(100% - -20px);;
//   min-height: calc(100% - -20px);;
//   max-height: calc(100% - -20px);;
// }

.mdl-button--colored:focus:not(:active) {
  background-color: rgba(0, 0, 0, .12)
}

input.mdl-button[type="submit"] {
  -webkit-appearance: none
}

.mdl-button--raised {
  background: rgba(158, 158, 158, .2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.mdl-button--raised:active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
  background-color: rgba(158, 158, 158, .4)
}

.mdl-button--raised:focus:not(:active) {
  box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
  background-color: rgba(158, 158, 158, .4)
}

.mdl-button--raised.mdl-button--colored {
  background: rgb(33, 150, 243);
  color: rgb(255, 255, 255)
}

.mdl-button--raised.mdl-button--colored:hover {
  background-color: rgb(33, 150, 243)
}

.mdl-button--raised.mdl-button--colored:active {
  background-color: rgb(33, 150, 243)
}

.mdl-button--raised.mdl-button--colored:focus:not(:active) {
  background-color: rgb(33, 150, 243)
}

.mdl-button--raised.mdl-button--colored .mdl-ripple {
  background: rgb(255, 255, 255)
}

.mdl-button--fab {
  border-radius: 50%;
  font-size: 24px;
  height: 56px;
  margin: auto;
  min-width: 56px;
  width: 56px;
  padding: 0;
  overflow: hidden;
  background: rgba(158, 158, 158, .2);
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
  position: relative;
  line-height: normal
}

.mdl-button--fab .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px
}

.mdl-button--fab.mdl-button--mini-fab {
  height: 40px;
  min-width: 40px;
  width: 40px
}

.mdl-button--fab .mdl-button__ripple-container {
  border-radius: 50%;
  -webkit-mask-image: -webkit-radial-gradient(circle, #fff, #000)
}

.mdl-button--fab:active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
  background-color: rgba(158, 158, 158, .4)
}

.mdl-button--fab:focus:not(:active) {
  box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
  background-color: rgba(158, 158, 158, .4)
}

.mdl-button--fab.mdl-button--colored {
  background: rgb(255, 255, 0);
  color: rgb(66, 66, 66)
}

.mdl-button--fab.mdl-button--colored:hover {
  background-color: rgb(255, 255, 0)
}

.mdl-button--fab.mdl-button--colored:focus:not(:active) {
  background-color: rgb(255, 255, 0)
}

.mdl-button--fab.mdl-button--colored:active {
  background-color: rgb(255, 255, 0)
}

.mdl-button--fab.mdl-button--colored .mdl-ripple {
  background: rgb(66, 66, 66)
}

.mdl-button--icon {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: inherit;
  line-height: normal
}

.mdl-button--icon .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px
}

.mdl-button--icon.mdl-button--mini-icon {
  height: 24px;
  min-width: 24px;
  width: 24px
}

.mdl-button--icon.mdl-button--mini-icon .material-icons {
  top: 0;
  left: 0
}

.mdl-button--icon .mdl-button__ripple-container {
  border-radius: 50%;
  -webkit-mask-image: -webkit-radial-gradient(circle, #fff, #000)
}

.mdl-button__ripple-container {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden
}

.mdl-button[disabled] .mdl-button__ripple-container .mdl-ripple, .mdl-button.mdl-button--disabled .mdl-button__ripple-container .mdl-ripple {
  background-color: transparent
}

.mdl-button--primary.mdl-button--primary {
  color: rgb(33, 150, 243)
}

.mdl-button--primary.mdl-button--primary .mdl-ripple {
  background: rgb(255, 255, 255)
}

.mdl-button--primary.mdl-button--primary.mdl-button--raised, .mdl-button--primary.mdl-button--primary.mdl-button--fab {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243)
}

.mdl-button--accent.mdl-button--accent {
  color: rgb(255, 255, 0)
}

.mdl-button--accent.mdl-button--accent .mdl-ripple {
  background: rgb(66, 66, 66)
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
  color: rgb(66, 66, 66);
  background-color: rgb(255, 255, 0)
}

.mdl-button[disabled][disabled], .mdl-button.mdl-button--disabled.mdl-button--disabled {
  color: rgba(0, 0, 0, .26);
  cursor: default;
  background-color: transparent
}

.mdl-button--fab[disabled][disabled], .mdl-button--fab.mdl-button--disabled.mdl-button--disabled {
  background-color: rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .26)
}

.mdl-button--raised[disabled][disabled], .mdl-button--raised.mdl-button--disabled.mdl-button--disabled {
  background-color: rgba(0, 0, 0, .12);
  color: rgba(0, 0, 0, .26);
  box-shadow: none
}

.mdl-button--colored[disabled][disabled], .mdl-button--colored.mdl-button--disabled.mdl-button--disabled {
  color: rgba(0, 0, 0, .26)
}

.mdl-button.mdl-button--colored{
  position: static;
}